@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Fruktur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Fruktur&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Fruktur&family=Press+Start+2P&display=swap');
body{
  background: rgb(12,6,17);
  background: linear-gradient(0deg, rgba(12,6,17,1) 23%, rgba(89,41,154,1) 100%, rgba(123,56,216,1) 100%, rgba(0,212,255,1) 100%);
    font-family: 'Press Start 2P', 'sans-serif';
}

.Maintitle {
  color: rgb(255, 255, 255);
  font-family: 'Press Start 2P', cursive;

}

.gamePara{
    width: 100%;
    padding: 10px;
    font-size: 3vh;
}
.crown{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 10px;
}
.gem{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-bottom: 60px;
}

hr{
    color: white;
    text-align: center;
}
/*HEADER*/
header::before {
    height: 100vh;
    background-color: #7b38d8;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
header {
  height: 100vh;
  width: 100%;
  color: #ffffff;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
   background-image: url("../../../src/assets/castles.png");
  
  text-align: center;
  font-family: 'Press Start 2P', 'sans-serif';
}
header div{
  position: relative;
  text-align: center;
}
header h1{
  font-size:  100px;
  font-family: 'Press Start 2P', 'sans-serif';
}





.bigblue {
  color: #bc90fa;
  padding: 40px;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
}

.smallblue {
    color: #FEE31C;
    padding: 40px;
    font-family: 'Press Start 2P', sans-serif;
    text-align: left;
}

p{
  font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 20px;
}
.title .btn{
  margin-top: 10vh;
  color: #bc90fa;
  background-color:#000000;
}
.title .btn:hover {
  color: black;
  background-color: #a127e7;
}
