@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Fruktur&display=swap');

body{
    background-color: rgb(19, 14, 14);
    font-family: 'Press Start 2P', 'sans-serif';
}

.gamePara{
    width: 50%;
    padding: 40px;
}

hr{
    color: white;
    text-align: center;
}
/*HEADER*/
header::before {
    height: 100vh;
    background-color: #86e1f8;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
header {
  height: 100vh;
  width: 100%;
  color: #ffffff;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
   background-image: url("https://cdn.discordapp.com/attachments/831379209331015691/950955319402561576/image3.png");
  
  text-align: center;
  font-family: 'Press Start 2P', 'sans-serif';
}
header div{
  position: relative;
  text-align: center;
}
header h1{
  font-size:  100px;
  font-family: 'Press Start 2P', 'sans-serif';
}





.bigblue {
  color: #FEE31C;
  padding: 40px;
  font-family: 'Exo', sans-serif;
  text-align: left;
}

.smallblue {
    color: #FEE31C;
    padding: 40px;
    font-family: 'Exo', sans-serif;
    text-align: left;
}

p{
    font-family: 'Exo', sans-serif;
    color: white;
}